/*
Negro = #141413
Gris oscuro = #777470
Naranja claro = #CF4500
Naranja oscuro = #852D01
Gris claro = #95918C

#222221
*/

/* Estructura General */
body {
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
  
  a {
    color: #141413;
    text-decoration: none;
  }
  
  a:hover {
    color: #141413;
    text-decoration: underline;
  }

.mc-link {
    color: #F38B00;
    text-decoration: underline;
    overflow-wrap: break-word;
}

.font-thin {
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.font-thiner {
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.subtitle {
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.subtitle-over {
    color: #FFFFFF;
    font-size: 14px;
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    line-height: 18px;
}

.subtitle2 {
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 18px;
    line-height: 26px;
}

p {
    color: #676561;
    font-family: MarkForMC,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.text-orange, .text-orange:hover {
    color: #CF4500;
}

#botones {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr 2fr 2fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "back btnExit nada print send";
}

#print{
    grid-area: print;
}

#send {
    grid-area: send;
}

#btnExit {
    grid-area: btnExit;
}

#back {
    grid-area: back;
}
  .fs-7 {
    font-size: 0.9rem!important;
  }
  
  .fs-8 {
    font-size: 0.8rem!important;
  }
  
  .link-orange {
    color: #CF4500;
  }
  
  .link-orange:hover {
    color: #CF4500;
  }
  
  .bg-expired {
    background-color: #f8d7da !important;
    color: inherit !important;
  }

    .bg-next_to_expire {
    background-color: #fff3cd !important;
    color: inherit !important;
}
  
  .bg-valid {
    background-color: #d1e7dd !important;
    color: inherit !important;
  }
  
  li {
    margin-bottom: 1rem;
  }
  
  
  /* header*/
  .logo-aig {
    max-height: 2rem;
    width: auto;
  }
  
  .logo-mastercard {
    max-height: 2.4rem;
    width: auto;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  .bg-dark {
    background-color: #141413 !important;
  }
  
  .navbar {
    margin-bottom: 0rem !important;
  }
  
  .nav-link {
    font-size: 16px;
  }
  
  .navbar-dark .navbar-toggler, .navbar-dark .navbar-toggler:hover, .navbar-dark .navbar-toggler:active {
    border: 0px;
    color: transparent;
  }
  
  .navbar .language-icon {
    margin-top: 0.7rem;
    margin-right: 0.5rem;
    float: left;
  }
  
  @media (min-width: 1024px) {
    .container-header {
      margin-left: 6rem !important;
      margin-right: 6rem !important;
      margin-bottom: 1.5rem !important;
      margin-top: 1.5rem !important;
    }
     
    .logo-aig {
      max-height: 2.4rem;
      width: auto;
    }
    
    .logo-mastercard {
      max-height: 2.8rem;
      width: auto;
    }
  
    .navbar-collapse {
      width: auto;
    }
  
    .navbar .language-icon {
      margin-top: 0.7rem;
      margin-left: 1.5rem;
      margin-right: 0.5rem;
      float: left;
    }
  
  }
    
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    } 
  }
  
  /* Login */
  .bg-login {
    background-image: url('../../Resources/images/bg1.jpg');
    height: 100%;
    min-height: 250px;
    background-size: cover;
    margin-bottom: 3rem;
  }
  
  @media (min-width: 992px) {
    .bg-login {
      min-height: 824px;
      margin-bottom: 0;
    }
  }

@media (min-width: 1200px) {
    .plan-card {
        width: 20%;
    }
}


  .text-overline {
    color: #444340;
    font-size: 12px;
    font-family: MarkForMC;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  
  @media (min-width: 600px) {
    .text-overline {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  .container-login {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  @media (min-width: 992px) {
    .container-login {
      padding-left: 6rem;
      padding-right: 0;
    }
  }
  
  /* Forms */
  select, select:hover, select:active, select:focus {
    border: 1px solid #95918C !important;
    box-shadow:none !important;
  }
  
  select option:checked, select:hover option:checked, select:active option:checked, select:focus option:checked {
    background-color: #F3F0EE;
    color: #777470;
  }

.form-select {
    padding: 11px 16px;
    height: 40px;
    font-size: 14px;
    font-family: MarkForMCNrw,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
  
  select option {
    height: 30px !important;
  }
  
  select option[disabled] { 
    color: rgb(170, 170, 170);
  }

.btn-mc {
    border-radius: 24px !important;
    padding: 8px 32px !important;
    color: #FFFFFF !important;
    background-color: #CF4500 !important;
    border: 0px;
    margin-right: 10px;
}
.btn-default {
    border-color: transparent;
    text-transform: uppercase;
    background-color: rgb(208, 211, 212);
    width: 150px;
}

.modal-footer2 {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
  
  .btn-mc:hover {
    background-color: #852D01 !important; 
  }
  
  .btn-mc:focus, .btn-mc:active {
    box-shadow: inset 0 0 0 2px #ffffff, 0 0 10px rgb(207 69 0 / 64%);
    background-color: #CF4500;
    border: 0px;
  }
  
  .btn-mc-red {
    border-radius: 24px !important;
    padding: 8px 32px !important;
    color: #FFFFFF !important;
    background-color: #cf0e00 !important;
    border: 0px;
  }
  
  .btn-mc-red:hover {
    background-color: #8b0a01 !important; 
  }
  
  .btn-mc-red:focus, .btn-mc-red:active {
    box-shadow: inset 0 0 0 2px #ffffff, 0 0 10px rgb(207 14 0 / 64%);
    background-color: #cf0e00;
    border: 0px;
  }
  
  .btn-mc-grey {
    border-radius: 24px !important;
    padding: 8px 32px !important;
    color: #fff !important;
    background-color: #95918C !important;
    border: 0px;
  }
  
  .btn-mc-grey:hover {
    background-color: #5c5956 !important; 
  }
  
  .btn-mc-grey:focus, .btn-mc-grey:active {
    box-shadow: inset 0 0 0 2px #ffffff, 0 0 10px rgb(92 89 86 / 64%);
    background-color: #95918C;
    border: 0px;
  }
  
  
  .btn-mc-white {
    border-radius: 24px !important;
    padding: 8px 32px !important;
    color: #141413 !important;
    background-color: #fff !important;
    border: 0px;
  }
  
  .btn-mc-white:hover {
    background-color: #E8E5E1 !important; 
  }
  
  .btn-mc-white:focus, .btn-mc-white:active {
    box-shadow: 0 0 10px rgb(255 255 255 / 64%);
    background-color: #fff;
    border: 0px;
  }
  
  .btn-mc-transparent {
    border: 0px;
  }
  
  .btn-mc-transparent:focus {
    box-shadow: inset 0 0 0 2px #ffffff, 0 0 10px rgb(207 69 0 / 64%);
  }

.form-label {
    color: #141413;
    font-size: 14px;
    font-family: MarkForMCNrw,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    line-height: 14px;
    padding-bottom: 4px;
    margin-bottom: 0px;
}

.form-control {
    font-family: MarkForMCNrw,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #222221;
    padding: 13px 16px;
    font-size: 14px;
    cursor: text;
    height: 40px;
    display: inline-flex;
    border: 1px solid #95918C;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    align-items: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .form-control:focus {
        font-family: MarkForMCNrw,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #222221;
        padding: 13px 16px;
        font-size: 14px;
        cursor: text;
        height: 40px;
        display: inline-flex;
        border: 1px solid #141413;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-sizing: border-box;
        align-items: center;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
  }
  
  .form-text {
    font-size: .75em;
  }
  
  .img-captcha {
    height: 2.3rem;
    margin-bottom: 15px;
  }

.form-check {
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

.form-check-disclaimer {
    display: block;
    min-height: 1.5rem;
    margin-bottom: .125rem;
}
  
  .form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23CF4500' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
  
  .form-check-input:checked[type=checkbox], .form-check-input:active[type=checkbox], .form-check-input:focus[type=checkbox] {
    background-color: #fff;
    border-color: #141413;
    box-shadow: none;
  }
  
  .form-check-input[type=checkbox] {
    border-radius: 0.25em;
  }
  .form-check[type=checkbox] .form-check-input[type=checkbox] {
    float: left;
    margin-left: -1.5em;
    border-color: #141413;
  }
  
  .form-check-input:checked[type=radio] {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e);
  }
  .form-check-input:checked {
    background-color: #CF4500;
    border-color: #CF4500;
  }
  .form-check-input[type=radio] {
    border-radius: 50%;
  }
  .form-check-input:focus[type=radio] {
    border-color: #CF4500;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(207 69 0 / 25%);
  }
  
  /* Icons */
  .bg-icons {
    background-image: url('../../Resources/images/bg3.jpg');
    margin-bottom: 3rem;
    height: 361px;
    background-size: cover;
    background-position: 25%;
    position: relative;
  }
  
  @media (min-width: 992px) {
    .bg-icons {
      min-height: 412px;
    }
  }
  
  @media (min-width: 600px) {
    .bg-icons {
      min-height: 487px;
    }
  }
  
  
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    flex-direction: column;
    background-color: rgba(20, 20, 19, .7);
  }
  
  @media (min-width: 1024px) {
    .overlay {
      padding-left: 108px;
      padding-right: 108px;
    } 
  }
  
  @media (min-width: 992px) {
    .overlay {
      padding-left: 6rem;
    }
  }
  
  .icon-cards .col {
    margin-bottom: 2rem;
  }
  
  .icon-cards .card{
    border: 0px;
  }
  
  .icon-cards .card-title {
    font-size: 1.7rem;
  }
  
  
  .card-img-top {
    height: 144px;
    object-fit: cover;
    margin-bottom: 16px;
    object-position: left 30%;
  }
  
  @media (min-width: 600px) {
    .card-img-top {
      height: 166px;
    }
  }
  
  @media (min-width: 1024px) {
    .card-img-top {
      height: 196px;
    }
  }
  
  .icon-cards .card-body {
    padding: 1rem 0rem;
  }
  
  .icon-cards .card-text {
    font-family: MarkForMCNrw;
  }
  
  .icon-cards .card-footer {
    border: 0px;
    background-color: #fff;
    padding: 0px;
  }
  
  .icon-text-anchor, .icon-text-anchor:hover, .icon-text-anchor:focus {
    text-decoration: none;
  }
  
  .bg-issuance {
    background-image: url('../../Resources/images/issuance.jpg');
    height: 151px;
    background-size: cover;
  }
  
  @media (min-width: 600px) {
    .bg-issuance {
      height: 300px;
      background-size: cover;
    }
  }
  
  @media (min-width: 1024px) {
    .bg-issuance {
      height: 398px;
      background-size: cover;
    }
  }
  
  .bg-my-purchases {
    background-image: url('../../Resources/images/bg-my-purchases.jpg');
    height: 151px;
    background-size: cover;
  }
  
  @media (min-width: 600px) {
    .bg-my-purchases {
      height: 300px;
      background-size: cover;
    }
  }
  
  @media (min-width: 1024px) {
    .bg-my-purchases {
      height: 398px;
      background-size: cover;
    }
  }
  
  .container-issuance {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #FCFBFA;
  }
  
  .featured-section {
    padding-left: 5rem;
  }

.footer-disclaimer {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
  
  .social-icon:hover {
    fill: #ccc;
  }
  
  /* Content */ 
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cf4500'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }
  
  .accordion-button:not(.collapsed) {
    color: #CF4500;
    background-color: #fff;
    box-shadow: none;
  }
  
  /* Travel */
  .bg-travel {
    background-image: url('../../Resources/images/travel.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
  }
  
  @media (min-width: 992px) {
    .bg-travel {
      min-height: 396px;
    }
  }
  
  @media (min-width: 600px) {
    .bg-travel {
      min-height: 390px;
    }
  }
  
  .bg-travel2 {
    background-image: url('../../Resources/images/travel.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
  }
  
  @media (min-width: 600px) {
    .bg-travel2 {
      min-height: 152px;
    }
  }
  
  @media (min-width: 992px) {
    .bg-travel2 {
      min-height: 176px;
    }
  }

/* Fee Based */
.bg-fee {
    background-image: url('../../Resources/images/aig_fee_base.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}

@media (min-width: 992px) {
    .bg-fee {
        min-height: 396px;
    }
}

@media (min-width: 600px) {
    .bg-fee {
        min-height: 390px;
    }
}

.bg-fee2 {
    background-image: url('../../Resources/images/aig_fee_base.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-fee2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-fee2 {
        min-height: 176px;
    }
}


/* Canellation */
.bg-cancellation {
    background-image: url('../../Resources/images/bg-my-purchases.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}

@media (min-width: 992px) {
    .bg-cancellation {
        min-height: 396px;
    }
}

@media (min-width: 600px) {
    .bg-cancellation {
        min-height: 390px;
    }
}

.bg-cancellation2 {
    background-image: url('../../Resources/images/bg-my-purchases.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-cancellation2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-cancellation2 {
        min-height: 176px;
    }
}

/* Car Rental */
.bg-car {
    background-image: url('../../Resources/images/car_rental.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}

@media (min-width: 992px) {
    .bg-car {
        min-height: 396px;
    }
}

@media (min-width: 600px) {
    .bg-car {
        min-height: 390px;
    }
}

.bg-car2 {
    background-image: url('../../Resources/images/car_rental.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-car2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-car2 {
        min-height: 176px;
    }
}

/* Schengen */
.bg-schengen {
    background-image: url('../../Resources/images/schengen.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}

@media (min-width: 992px) {
    .bg-schengen {
        min-height: 396px;
    }
}

@media (min-width: 600px) {
    .bg-schengen {
        min-height: 390px;
    }
}

.bg-schengen2 {
    background-image: url('../../Resources/images/schengen.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-schengen2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-schengen2 {
        min-height: 176px;
    }
}

/* Baggage */
.bg-baggage {
    background-image: url('../../Resources/images/baggage.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}

@media (min-width: 992px) {
    .bg-baggage {
        min-height: 396px;
    }
}

@media (min-width: 600px) {
    .bg-baggage {
        min-height: 390px;
    }
}

.bg-baggage2 {
    background-image: url('../../Resources/images/baggage.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-baggage2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-baggage2 {
        min-height: 176px;
    }
}

  
  /* Extended Warranty */
  .bg-extended-warranty {
    background-image: url('../../Resources/images/ew.jpg');
    height: 298px;
    background-size: cover;
    background-position: 25%;
    position: relative;
  }
  
  @media (min-width: 992px) {
    .bg-extended-warranty {
      min-height: 396px;
    }
  }
  
  @media (min-width: 600px) {
    .bg-extended-warranty {
      min-height: 390px;
    }
  }

.bg-extended-warranty2 {
    background-image: url('../../Resources/images/ew.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}
  
  @media (min-width: 600px) {
    .bg-extended-warranty2 {
      min-height: 152px;
    }
  }
  
  @media (min-width: 992px) {
    .bg-extended-warranty2 {
      min-height: 176px;
    }
  }
  
  .bg-side-ew1 {
    background-image: url('../../Resources/images/extended_warranty2.jpg');
    height: 100%;
    min-height: 250px;
    background-size: cover;
    margin-bottom: 3rem;
    background-position-x: 100%;
  }
  
  @media (min-width: 992px) {
    .bg-side-ew1 {
      min-height: 700px;
      margin-bottom: 0;
    }
  }
  
  .bg-side-ew2 {
    background-image: url('../../Resources/images/extended_warranty3.jpg');
    height: 100%;
    min-height: 250px;
    background-size: cover;
    margin-bottom: 3rem;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  
  @media (min-width: 992px) {
    .bg-side-ew2 {
      min-height: 618px;
      margin-bottom: 0;
    }
  }
  
  /* Search */
.bg-search {
    background-image: url('../../Resources/images/search.jpg');
    height: 400px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}

.bg-contact2 {
    background-image: url('../../Resources/images/contact_us.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-contact2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-contact2 {
        min-height: 176px;
    }
}

.bg-policy2 {
    background-image: url('../../Resources/images/policy.jpg');
    height: 72px;
    background-size: cover;
    background-position: 25%;
    background-position-y: 70%;
    position: relative;
}

@media (min-width: 600px) {
    .bg-policy2 {
        min-height: 152px;
    }
}

@media (min-width: 992px) {
    .bg-policy2 {
        min-height: 176px;
    }
}

.bg-search2 {
    background-image: url('../../Resources/images/search.jpg');
    height: 200px;
    background-size: cover;
    background-position: 25%;
    position: relative;
}
  
  @media (min-width: 600px) {
    .bg-search {
      min-height: 152px;
    }
  }
  
  @media (min-width: 992px) {
    .bg-search {
      min-height: 176px;
    }
  }

@media (max-width: 526px) {
    .form-check-label {
        font-size: 12px;
    }
    .movilnone{
        display: none;
    }
    #modal_ask_passengers{
        font-size: smaller;
    }
    .display-4{
        font-size: larger !important;
    }
    .displayMovil{
        font-size: x-small !important;
    }
}

@media (max-width: 600px) {
 
    .display-4 {
        font-size: x-large;
    }

    .displayMovil {
        font-size: smaller;
    }
}

@media(max-width: 350px) {
    #modal_ask_passengers {
        font-size: x-small;
    }
}


@media (max-width: 900px) { 
    .colnone {
        display: none;
    }

    .multi-line-clamp {
        display: flex;
        flex-wrap: wrap;
        white-space: normal
    }
}

@media (max-width: 1193px) {
    .iframe-access-stage {
        height: 650px !important;
    }
}



.steps {
    padding: 24px;
    box-shadow: inset 0px -1px 0px #e8e5e1;
}
  
  .steps a {
    text-decoration: none;
  }
  
  .steps .nav-link {
    line-height: 24px;
    color: #141413;
    padding: 0px;
  }
  
  .steps .active {
    color: #CF4500;
  }
  
  .form-side {
    padding: 40px;
    flex-shrink: 0;
    background-color: #F3F0EE;
  }
  
  /* Tables */
  
  .table thead th {
    border-bottom: 2px solid #CF4500 !important;
    border-top: 2px solid #CF4500;
  }
  
  .table>:not(caption)>*>* {
    padding: 0.7rem 0.5rem;
  }
  
  /* Summary */
  .summary-title {
    text-transform: uppercase;
    border-bottom: 2px solid #cf4500;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 22px;
  }

.summary-subtitle {
    text-transform: uppercase;
    border-bottom: 2px solid #cf4500;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 15px;
}

.list-warn ul {
    line-height: 28px;
    padding-left: 13px;
}

.error-wrap {
    padding: 0px 107px 50px;
    margin-bottom: 25px;
}

.error-wrap {
    color: rgb(90, 22, 3);
    background-color: rgb(250, 191, 175);
}

.error-wrap {
    padding: 0px 72px 50px;
}

@media screen and (max-width:767px) {
    .error-wrap {
        padding: 0px 8px 30px;
    }

    #botones {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "back btnExit"
            "print send";
    }
}

@media screen and (max-width:425px) {
    
    #botones {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "back" 
            "btnExit"
            "print"
            "send";
    }
}



.plan-subtitle-orange {
    border-bottom: 2px #CF4500 solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.plan-subtitle-red {
    border-bottom: 2px #cf0e00 solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.rounded-pill {
    border-radius: 5px !important;
    padding: 0.65rem;
}

.bg-orange {
    background-color: #CF4500 !important;
}

.bg-red {
    background-color: #cf0e00 !important;
    !important;
}

.bg-grey {
    background-color: #95918C !important;
}

.badge {
    font-family: 'MarkForMC-Lt';
}


.text-red {
    color: #cf0e00;
}

/* Fee Base */


.fb-products .card {
    border-radius: 0.5rem;
}

.fb-products .card-status {
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    height: 8px;
    background: rgba(0,40,100,.12);
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.ajax-loader {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(255,255,255,0.5);
    z-index: +100 !important;
}

.ajax-loader img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
}

.pull-right {
    float: right !important;
}

.error-msg {
    color: rgb(204, 32, 39);
    text-transform: none;
    -ms-word-wrap: break-word;
}