.navbar-push {
	padding-right: 15px; padding-left: 15px; margin-right: 0px; margin-left: 0px;
}
@media screen and (max-width:990px)
{
.push-canvas {
	transition:0.1s ease-out; left: 0px; position: relative; -ms-overflow-x: hidden; -webkit-transition: all .10s ease-out; -o-transition: all .10s ease-out; -moz-transition: all .10s ease-out;
}
.pushed-left.push-canvas {
	left: -50%;
}
.pushed-right.push-canvas {
	left: 50%;
}
.navbar-push {
	background: rgb(91, 103, 113); transition:0.1s ease-out; top: 0px; width: 50%; height: 100%; position: fixed; -ms-overflow-x: hidden; -ms-overflow-y: auto; -webkit-transition: all .10s ease-out; -o-transition: all .10s ease-out; -moz-transition: all .10s ease-out;
}
.navbar-push-left.navbar-push {
	right: -50%;
}
.navbar-push-right.navbar-push {
	left: -50%;
}
.in.navbar-push-right.navbar-push {
	left: 0px;
}
.in.navbar-push-left.navbar-push {
	right: 0px;
}
}
@media screen and (max-width:400px)
{
.pushed-left.push-canvas {
	left: -80%;
}
.pushed-right.push-canvas {
	left: 80%;
}
.navbar-push {
	width: 80%;
}
.navbar-push-left.navbar-push {
	right: -100%;
}
}
