<appSettings>
	<add key="webpages:Version" value="2.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="DEBUG_CONTEXT" value="true" />
	<add key="SMTP_SERVER" value="7Ou8iZRqg3Fp/7H/+HOcPI9V0U00Snb2XnYyb4WkByE=" />
	<add key="SMTP_PORT" value="PikKU4T/NyIx70qR1FAyBA==" />
	<add key="SMTP_SSL" value="true" />
	<add key="SMTP_USER" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_PASSWORD" value="hvDFK0BZ9xQYuXZOfUlFLTlhM6rDbGb3bS4Gv8jWtZQ=" />
	<add key="SMTP_SENDER_NAME" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_SENDER_EMAIL" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_SENDER_NAME_FB" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_SENDER_EMAIL_FB" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_TIMEOUT" value="1000000" />
	<add key="InternalBaseURL" value="http://localhost:51986" />
	<add key="ExternalBaseURL" value="http://localhost:51986" />
	<add key="ImagesRelativeUrl" value="/Resources/Images/" />
	<add key="IMAGES_PATH" value="C:\Users\Luciano Martinez\Source\Repos\mastercard-ap\Resources\Images\" />
	<add key="LETTER_TEMPLATES_PATH" value="C:\Users\Luciano Martinez\Source\Repos\mastercard-ap\InsuranceLetters\Resources\LetterTemplates\" />
	<add key="LANDING_STATICS_PATH" value="C:\Users\Luciano Martinez\Source\Repos\mastercard-ap\InsuranceLetters\Resources\Statics\" />
	<add key="LANDING_BASE_URL" value="/Resources/Statics/" />
	<add key="EncryptionKey" value="MAKV2SPBNI99212" />
	<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
	<add key="ERROR_LOG_MAILS" value="I8bgTcISwbpfio+vJfx7wXLFOFlZqMY31H3h5m5ygZobBbH278bWqkoOxBa+Vy8Z+dH9jUYAcZaho+8ba0V1ruLxub6694LlVmGj8z603eq92i+Bnds5KpMNaVosvra7kV+QANZJUzuClKvBVqjS3w==" />
	<add key="QUARTZ_CRON_DUE" value="0 0/5 * * * ?" />

	<add key="ZIP_PATH" value="C:\_temp\ap_zip\" />
	
	<add key="LOCAL_STEPS_RESOURCES_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLettersResources\Resources" />
	
</appSettings>