<connectionStrings>
<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-InsuranceLetters-20160324162025;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-InsuranceLetters-20160324162025.mdf" />
	<add name="InsuranceLettersEntities" connectionString="metadata=res://InsuranceLettersCommons/Model.Model.csdl|res://InsuranceLettersCommons/Model.Model.ssdl|res://InsuranceLettersCommons/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.21.176.211\DEV,1434;initial catalog=InsuranceLettersAp;persist security info=True;user id=sa;password=Soulit01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>