USE [il-admin-mc-eu]

SELECT @@servername 'Servidor', db_name(dbid) 'Base de Datos' from master..sysprocesses where spid = @@spid
GO

SELECT getdate() as 'Fecha hora Inicial'
GO

SELECT '--------------Before--------------'
SELECT COUNT(*) FROM [dbo].[staticLabels]
SELECT '--------------Before--------------'
GO

BEGIN TRAN


