USE InsuranceLettersAp
SELECT @@servername 'Servidor', db_name(dbid) 'Base de Datos' from master..sysprocesses where spid = @@spid
GO

SELECT getdate() as 'Fecha hora Inicial'
GO

SELECT '--------------Before--------------'
SELECT COUNT(*) FROM [dbo].[application]
SELECT '--------------Before--------------'
GO

BEGIN TRAN


SET IDENTITY_INSERT [dbo].[application] ON 

SET IDENTITY_INSERT [dbo].[application] OFF
SET IDENTITY_INSERT [dbo].[language] ON 

INSERT [dbo].[language] ([id], [code], [name]) VALUES (1, N'en', N'English')
INSERT [dbo].[language] ([id], [code], [name]) VALUES (2, N'ko', N'Korean')
INSERT [dbo].[language] ([id], [code], [name]) VALUES (3, N'th', N'Thai')
SET IDENTITY_INSERT [dbo].[language] OFF
SET IDENTITY_INSERT [dbo].[email] ON 

INSERT [dbo].[email] ([id], [application_id], [language_id], [subject]) VALUES (1, 1, 1, N'Confirmation of registration and activation of your Travel Insurance')
INSERT [dbo].[email] ([id], [application_id], [language_id], [subject]) VALUES (2, 2, 1, N'Confirmation of registration and activation of your Travel Insurance')
INSERT [dbo].[email] ([id], [application_id], [language_id], [subject]) VALUES (3, 2, 4, N'確認註冊和激活您的旅遊保險')
SET IDENTITY_INSERT [dbo].[email] OFF
SET IDENTITY_INSERT [dbo].[email_due] ON 

INSERT [dbo].[email_due] ([id], [application_id], [language_id], [subject]) VALUES (1, 1, 1, N'Insurance expiry reminder – Please check eligibility for renewal')
INSERT [dbo].[email_due] ([id], [application_id], [language_id], [subject]) VALUES (2, 2, 1, N'Insurance expiry reminder – Please check eligibility for renewal')
INSERT [dbo].[email_due] ([id], [application_id], [language_id], [subject]) VALUES (3, 2, 4, N'保險到期提醒 —— 請檢查續保資格')
SET IDENTITY_INSERT [dbo].[email_due] OFF
SET IDENTITY_INSERT [dbo].[landing] ON 

INSERT [dbo].[landing] ([id], [code], [name], [active], [filter], [can_redirect_to]) VALUES (1, N'ap', N'ap', 1, NULL, N'{
}')
SET IDENTITY_INSERT [dbo].[landing] OFF
SET IDENTITY_INSERT [dbo].[landing_application] ON 

INSERT [dbo].[landing_application] ([id], [landing_id], [application_id]) VALUES (1, 1, 1)
INSERT [dbo].[landing_application] ([id], [landing_id], [application_id]) VALUES (2, 1, 2)
INSERT [dbo].[landing_application] ([id], [landing_id], [application_id]) VALUES (4, 1, 3)
SET IDENTITY_INSERT [dbo].[landing_application] OFF
SET IDENTITY_INSERT [dbo].[letter] ON 

INSERT [dbo].[letter] ([id], [application_id], [language_id], [file_name]) VALUES (1, 1, 1, N'Certificate.pdf')
INSERT [dbo].[letter] ([id], [application_id], [language_id], [file_name]) VALUES (2, 2, 1, N'Certificate.pdf')
INSERT [dbo].[letter] ([id], [application_id], [language_id], [file_name]) VALUES (3, 3, 1, N'Certificate.pdf')
SET IDENTITY_INSERT [dbo].[letter] OFF
SET IDENTITY_INSERT [dbo].[step] ON 

INSERT [dbo].[step] ([id], [landing_id], [code], [description], [position], [action], [is_app_form], [application_id]) VALUES (1, 1, N'mwi_SGP01', N'Disclaimer', 1, N'Index', 1, 1)
INSERT [dbo].[step] ([id], [landing_id], [code], [description], [position], [action], [is_app_form], [application_id]) VALUES (2, 1, N'mwi_SGP02', N'CardHolder Information', 2, N'Index', 1, 1)
INSERT [dbo].[step] ([id], [landing_id], [code], [description], [position], [action], [is_app_form], [application_id]) VALUES (4, 1, N'mwi_SGP03', N'Information Review', 3, N'Index', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[step] OFF
SET IDENTITY_INSERT [dbo].[landing_language] ON 

INSERT [dbo].[landing_language] ([id], [landing_id], [language_id], [label]) VALUES (1, 1, 1, N'English')
INSERT [dbo].[landing_language] ([id], [landing_id], [language_id], [label]) VALUES (2, 1, 2, N'Korean')
INSERT [dbo].[landing_language] ([id], [landing_id], [language_id], [label]) VALUES (3, 1, 3, N'Thai')
SET IDENTITY_INSERT [dbo].[landing_language] OFF
SET IDENTITY_INSERT [dbo].[static_label] ON 

INSERT [dbo].[static_label] ([id], [language_id], [identifier], [value]) VALUES (406, 1, N'empty', N'&nbsp;')
INSERT [dbo].[static_label] ([id], [language_id], [identifier], [value]) VALUES (965, 1, N'amount_100', N'USD 100')
INSERT [dbo].[static_label] ([id], [language_id], [identifier], [value]) VALUES (972, 1, N'amount_100perday', N'USD 100 per Day')
GO
SET IDENTITY_INSERT [dbo].[static_label] OFF
SET IDENTITY_INSERT [dbo].[step_handler] ON 

INSERT [dbo].[step_handler] ([id], [step_id], [position], [handler_class], [data]) VALUES (2, 1, 1, N'InsuranceLettersCore.WebStepHandlers.TicketIdResetHandler', N'{}')
INSERT [dbo].[step_handler] ([id], [step_id], [position], [handler_class], [data]) VALUES (3, 5, 1, N'InsuranceLettersCore.WebStepHandlers.TicketIdResetHandler', N'{}')
INSERT [dbo].[step_handler] ([id], [step_id], [position], [handler_class], [data]) VALUES (4, 9, 1, N'InsuranceLettersCore.WebStepHandlers.TicketIdResetHandler', N'{}')
SET IDENTITY_INSERT [dbo].[step_handler] OFF

SELECT '--------------After--------------'
SELECT COUNT(*) FROM [dbo].[application] 
SELECT '--------------After--------------'
COMMIT TRAN
SELECT getdate() as 'Fecha hora Final'


