USE [il-admin-mc-eu]

SELECT @@servername 'Servidor', db_name(dbid) 'Base de Datos' from master..sysprocesses where spid = @@spid
GO

SELECT getdate() as 'Fecha hora Inicial'
GO

SELECT '--------------Before--------------'
SELECT COUNT(*) FROM [dbo].[staticLabels]
SELECT '--------------Before--------------'
GO

BEGIN TRAN


SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Code], [Description], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (3, N'en', N'english', CAST(N'2023-03-23T11:32:09.6633871' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-03-23T11:39:31.6436942' AS DateTime2), N'administrator@soulit.io')
INSERT [dbo].[Languages] ([Id], [Code], [Description], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (4, N'sl', N'slovenian', CAST(N'2023-03-23T11:32:22.3135110' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-03-23T11:38:03.1542093' AS DateTime2), N'administrator@soulit.io')
INSERT [dbo].[Languages] ([Id], [Code], [Description], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (38, N'de', N'german', CAST(N'2023-04-19T20:07:00.8482794' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-04-19T20:07:00.8482801' AS DateTime2), N'administrator@soulit.io')
SET IDENTITY_INSERT [dbo].[Languages] OFF
SET IDENTITY_INSERT [dbo].[StaticLabels] ON 

INSERT [dbo].[StaticLabels] ([Id], [Identifier], [Value], [LanguageId], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [IsRichText]) VALUES (2168, N'dados_bilhete', N'Certificate Details', 3, CAST(N'2023-06-07T14:02:09.1099723' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-06-07T14:02:09.1101160' AS DateTime2), N'administrator@soulit.io', 0)
INSERT [dbo].[StaticLabels] ([Id], [Identifier], [Value], [LanguageId], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [IsRichText]) VALUES (2169, N'dados_bilhete', N'Podatki o imetniku potrdila', 4, CAST(N'2023-06-07T14:02:35.4640461' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-06-07T14:02:35.4640564' AS DateTime2), N'administrator@soulit.io', 0)
INSERT [dbo].[StaticLabels] ([Id], [Identifier], [Value], [LanguageId], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [IsRichText]) VALUES (2170, N'dados_bilhete', N'Angaben zum Zertifikat', 38, CAST(N'2023-06-07T14:02:59.3065424' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-06-07T14:02:59.3065436' AS DateTime2), N'administrator@soulit.io', 0)
GO
SET IDENTITY_INSERT [dbo].[StaticLabels] OFF
SET IDENTITY_INSERT [dbo].[Parameters] ON 

INSERT [dbo].[Parameters] ([Id], [Code], [Description], [Value], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [Category]) VALUES (410, N'token_sha256_mins', N'Referer: Valor en minutos para la expiración del token de autenticación', N'10', CAST(N'2023-04-26T22:33:34.0306920' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-07-27T17:15:39.7862140' AS DateTime2), N'administrator@soulit.io', N'configuration')
INSERT [dbo].[Parameters] ([Id], [Code], [Description], [Value], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [Category]) VALUES (411, N'countries_application', N'Países asociados a una aplicación', N'[
  {
    "application": "ecommerce",
    "countries": [
      "SVN"
    ]
  },
  {
    "application": "businessProtection",
    "countries": [
      "AUT"
    ]
  }
]', CAST(N'2023-04-28T17:09:32.9448958' AS DateTime2), N'administrator@soulit.io', CAST(N'2023-06-18T15:21:03.4810466' AS DateTime2), N'administrator@soulit.io', N'configuration')
SET IDENTITY_INSERT [dbo].[Parameters] OFF

SELECT '--------------After--------------'
SELECT COUNT(*) FROM [dbo].[staticLabels] 
SELECT '--------------After--------------'
COMMIT TRAN
SELECT getdate() as 'Fecha hora Final'



