
<appSettings>
	<add key="webpages:Version" value="2.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="DEBUG_CONTEXT" value="true" />

	<add key="InternalBaseURL" value="http://localhost:51986/" />
	<add key="ExternalBaseURL" value="http://localhost:51986/" />

	<add key="ImagesRelativeUrl" value="/Resources/Images/" />
	<add key="SMTP_SERVER" value="7Ou8iZRqg3Fp/7H/+HOcPI9V0U00Snb2XnYyb4WkByE=" />
	<add key="SMTP_SERVERERROR" value="7Ou8iZRqg3Fp/7H/+HOcPOXQZgMSZstP3ODUf5RtvZs=" />
	<add key="SMTP_PORT" value="PikKU4T/NyIx70qR1FAyBA==" />
	<add key="SMTP_SSL" value="true" />
	<add key="SMTP_USER" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_PASSWORD" value="hvDFK0BZ9xQYuXZOfUlFLTlhM6rDbGb3bS4Gv8jWtZQ=" />
	<add key="SMTP_SENDER_NAME" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_SENDER_EMAIL" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_SENDER_NAME_FB" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="SMTP_SENDER_EMAIL_FB" value="2HZd6mzug+8SGLod1DFo8v1NU4MCwG7HdWIESep6EYWi7s5t9xWQR+77XdYXEW7j/JSExQ31ln7fPUGcBRYQSA==" />
	<add key="ERROR_LOG_MAILS" value="I8bgTcISwbpfio+vJfx7wXLFOFlZqMY31H3h5m5ygZobBbH278bWqkoOxBa+Vy8Z+dH9jUYAcZaho+8ba0V1ruLxub6694LlVmGj8z603eq92i+Bnds5KpMNaVosvra7kV+QANZJUzuClKvBVqjS3w==" />
	<add key="CANCEL_TICKET_MAILS" value="I8bgTcISwbpfio+vJfx7wXLFOFlZqMY31H3h5m5ygZobBbH278bWqkoOxBa+Vy8Z+dH9jUYAcZaho+8ba0V1ruLxub6694LlVmGj8z603eq92i+Bnds5KpMNaVosvra7kV+QANZJUzuClKvBVqjS3w==" />

	<add key="SMTP_TIMEOUT" value="1" />
	<add key="IMAGES_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\Images\" />
	<add key="LETTER_TEMPLATES_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\LetterTemplates\" />
	<add key="LANDING_STATICS_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\Statics\" />
	<add key="LANDING_BASE_URL" value="/Resources/Statics/" />
	<add key="EncryptionKey" value="MAKV2SPBNI99212" />
	<add key="RijndaelEncryptionKey" value="Q3JpcHRvZ3JhZmlhcyBjb20gUmluamRhZWwgLyBBRVM=" />
	<add key="MASTERCARD_XSD_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\mastercard_schema.xsd" />
	<add key="CTA_MASSIVE_UPLOAD_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\_carga_masiva\upload\" />
	<add key="CTA_MASSIVE_GENERATED_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\_carga_masiva\generated\" />
	<add key="CTA_MASSIVE_TEMPLATE_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLetters\Resources\Statics\regional\\Template Travel CTA.xlsx" />

	<add key="QUARTZ_CRON_DUE" value="0 58 16 * * ?" />
	<add key="QUARTZ_CRON_FBPENDING" value="0 58 16 * * ?" />
	<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

	<add key="ExchangeRateWebServiceURL_BRL"  value="https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)" />

	<!--<add key="ExchangeRateWebServiceURL_BRL"  value="https://www-285.aig.com/HUB_Currency/api/Service/get_exchange_rate/" />
	<add key="ExchangeRateWebServiceSource_BRL" value="MASTERCARD" />
	<add key="ExchangeRateWebServiceToken_BRL" value="45456767" />-->

	<add key="SalesWebServiceURL" value="https://brasil-servicos-nac-m.aig.com/HUB_AIG/api/Service/Aig_ticket_inssurance" />
	<!--add key="SalesWebServiceURL" value="http://smockin.soulit.io/dev-aig-mastercard_brasil/Aig_ticket_inssurance" /-->
	<add key="SalesWebServiceSource" value="MASTERCARD" />
	<add key="SalesWebServiceToken" value="45456767" />

	<add key="GenerateTicketNumberWebServiceURL" value="https://brasil-servicos-nac-m.aig.com/HUB_AIG/api/Service/Aig_generate_ticket_number" />
	<!--add key="GenerateTicketNumberWebServiceURL" value="http://smockin.soulit.io/dev-aig-mastercard_brasil/Aig_generate_ticket_number_error" /-->
	<add key="GenerateTicketNumberWebServiceToken" value="45456767" />
	<add key="GenerateTicketNumberWebServiceSource" value="Mastercard" />

	<!--<add key="PremiumPaidWebServiceURL" value="https://brasil-servicos-nac-m.aig.com/HUB_AIG/api/Service/Aig_ticket_inssurance_premium_paid" />
	<add key="PremiumPaidWebServiceToken" value="45456767" />
	<add key="PremiumPaidWebServiceSource" value="Mastercard" />-->

	<add key="CancellationWebServiceURL" value="https://brasil-servicos-nac-m.aig.com/HUB_AIG/api/Service/Aig_ticket_inssurance_cancel" />
	<add key="CancellationWebServiceToken" value="45456767" />
	<add key="CancellationWebServiceSource" value="Mastercard" />

	<!--<add key="AccessPayWebServiceURL" value="https://homolog.accesstage.com.br/access-pay/transactions" />
	<add key="AccessPayWebServiceAPI" value="b47f5e295f07e0268da862aab40f5e26" />
	<add key="AccessPayWebServiceAPIKey" value="1cd76584-bb79-4702-9e21-9f1d771e645d" />
	<add key="AccessPayWebServiceGateway" value="CIELO" />-->

	<add key="CIELO_SUCCESS_CODES" value="00,11" />
	<add key="CIELO_TIMEOUT_CODES" value="99" />

	<add key="CANCELLATION_RESPONSE_ERROR_ACCESSTAGE" value="1" />
	<add key="REFUND_TRESHOLD_DAYS" value="1" />
	<add key="PREMIUM_PAID_CULTURE_INFO" value="pt-BR" />
	<add key="PAYER_PASSENGER_PARTY_TYPE" value="1" />
	<add key="PAYER_NOT_PASSENGER_PARTY_TYPE" value="3" />

	<add key="LOCAL_STEPS_RESOURCES_PATH" value="C:\Users\Luciano Martinez\source\repos\mastercard\MastercardRD\InsuranceLetters\InsuranceLettersResources\Resources" />


</appSettings>